.main
    =link_to "See All Questions", course_questions_path(@course, :all => true), :method => :get
    .card-body
        %table{class:"table table-responsive table-hover", id:"dateAnsTbl"}
            %tr
                %th Date
                %th Number of Questions
                %th Number of Responses
                %th Correct Responses
                %th Incorrect Responses
                %th Topics Covered:
                %th 
            -questionsByDate(@course).each_with_index do |dateArr, idx|
                %tr
                    %td= dateArr[0]
                    %td= dateArr[1]
                    %td= dateArr[2]
                    %td= dateArr[3]
                    %td= dateArr[4]
                    %td 7.1
                    %td 
                        =link_to octicon("chevron-right", :height => 20), course_questions_path(@course, :dateArr => dateArr[5]),:action => :get, :method => :get