#main
  %ol.breadcrumb
    %li.breadcrumb-item= link_to "Courses", courses_path
    %li.breadcrumb-item.active= @course.name

  .card
    .card-body
      %h5.card-title= @course.name
      %h6.card-subtitle= @course.daytime
      %p.card-text= "Students enrolled: #{@course.students.count}"

  %table.table
    %tr
      %th Name
      %th # Polls
      %th Type
      %th Image
      %th Date
      %th Delete
      %th New Poll
    -@questions.each do |q|
      %tr
        %td= link_to q.qname, course_question_polls_path(@course, q), :class => "btn btn-light"
        %td= q.polls.count
        %td= octicon question_icon(q.type), :height => 32, :"aria-label" => question_type(q.type), :class => 'octicon', :alt => question_type(q.type)
        %td= show_image q.image
        %td= time_tag q.created_at.localtime, :format => "%Y/%m/%d"
        %td= link_to "Delete", course_question_path(@course, q), :method => :delete, :class => "btn btn-danger", :id => "destroy_#{q.qname}"
        %td= link_to "Activate", course_question_polls_path(@course, q), :method => :post, :id => "create_#{q.qname}", :class => "btn btn-success"

  #bottom
    %p= link_to "Create a new question", new_course_question_path(@course), :class => "btn btn-primary"

