#main
  %ol.breadcrumb
    %li.breadcrumb-item= link_to "Courses", courses_path
    %li.breadcrumb-item.active= @course.name

  .card
    .card-body
      %h5.card-title= @course.name
      %h6.card-subtitle= @course.daytime

  %table.table
    %tr
      %th Name
      %th Answer
      %th Your Response(s)
      %th Type
      %th Image
      %th Date
    -@questions.each do |q|
      -if !q.active_poll
        %tr
          %td= link_to "#{q.qname}", course_question_path(@course, q), :method => :get
          %td= q.answer
          %td= student_responses(q)
          %td= octicon question_icon(q.type), :height => 32, :"aria-label" => question_type(q.type), :class => 'octicon', :alt => question_type(q.type)
          %td= show_image q.image
          %td= time_tag q.created_at.localtime, :format => "%Y/%m/%d"


