#main
  %h2= @course.name
  %h3= @question.qname
  %p= "#{question_type(@question.type)} question"
  -if @question.image
    %p= image_tag @question.image.variant(resize: "480x480^")

  %table.table
    %tr
      %th Number
      %th When
      %th Open?
      %th Responses
      %th Destroy

    -@polls.each do |p|
      %tr
        %td= link_to p.round, course_question_poll_path(@course, @question, p)
        %td= "#{time_ago_in_words(p.updated_at)} ago"
        %td= p.isopen ? "yes" : "no"
        %td= p.poll_responses.count
        %td= link_to "Delete", course_question_poll_path(@course, @question, p), method: :delete

  %p= link_to "New poll", course_question_polls_path(@course, @question), method: :post

#bottom
  %p= link_to "Back to questions", course_questions_path(@course)
  %p= link_to "Back to courses", courses_path

