%br

.row
  .col-med
    %h2= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, :class => "btn btn-primary btn-lg"

%br
%br

.row
  .col-med
    %h5 Admin login

= form_for(resource, id: :login, as: resource_name, url: session_path(resource_name)) do |f|
  .row.form-group.small
    = f.label :email, class: "col-form-label col-sm-1"
    .col-sm
      = f.email_field :email, autofocus: true, autocomplete: "email"
  .row.form-group.small
    = f.label :password, class: "col-form-label col-sm-1"
    .col-sm
      = f.password_field :password, autocomplete: "current-password"
  .row-form-group.small
    .col-sm
      = f.submit "Log in"

