#qcard.card
  .card-body
    %h3#squestion.card-title{"data-ids" => "#{@course.id} #{@qid} #{@pid}"}= @qname 
    %h4.card-subtitle= @qprompt
    -if @question.image.attached?
      .card-img-top= image_tag @question.image.variant(resize: "480x480^"), :class => "imgwide"
    %hr
    .card-text
      =form_for @response, :method => :post, :url => course_question_poll_poll_responses_path(@course, @question, @poll), :remote => false do
        .form-group
          =question_input(@question, @current) 
          =submit_tag @question.prompt
#noqcard.card.hidden
  .card-body
    %h3.card-title{"data-ids" => "#{@course.id} #{@qid} #{@pid}"}
    %span= octicon "stopwatch", :height => 32
    %span Hang on ... 
    %p.card-text no question is active right now
