%h3= "Attendance report for #{@course.name}"
%table.table-striped.table-bordered
  %tr
    %td.small Date
    -@course.students.each do |s|
      %th
        %p.vertical_orientation= s.email
    %td.small Total
  -@attendance_matrix.each do |row|
    %tr
      %td.small= "#{row[0]}"
      -row[1..].each do |val|
        %td.small= "#{val}"