%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/question_report.css"}


%ol.breadcrumb
  %li.breadcrumb-item= link_to "Courses", courses_path
  
%h3{:id => "q_report_header"}= "Question report for #{@course.name}"
-if @no_responses
  #no_resp_alert.alert.alert-warning No Responses!
  
-else
  -@response_matrix.each do |row|
    .card.bg-light.report_card
      .card_heading.bg-primary
        // %h4.mb-0 #{row[1]}
        %h4.mb-0= link_to "#{row[1]}" , course_question_path(@course,row[0]), class: 'text-dark'
        
        
      .card_body.container-fluid
        .col-sm
          %span 
            %h6.mb-0 Number of Responses: #{row[-2]}
            %h6.mb-0 #{row[-1]}% Correct
            %br
            
        .col-sm
          %h5 Student Responses
          %table.table-striped
            %tr 
              %th Email
              %th Response
              %th Correct?
            -row[2...-2].each do |student|
              %tr
                %td= "#{student[0]}"
                %td= "#{student[1]}"
                %td= "#{student[2]}"
    %br   
        
-count = 1
-@break_groups.each do |g|
  %h5= "Breakout groups for question #{count}"
  -count = count + 1
  %table.table-striped.table-bordered
    %tr
      %td Groups
    -g.each do |i|
      %tr
        %td.small= i