#main
  %p= @course.name
  %p= @course.daytime
  %p= "Students enrolled: #{@course.students.count}"

  %table
    %tr
      %th Name
      %th # Polls
    -@course.questions do |q|
      %tr
        %td= q.question
        %td= q.question.polls.count

