!!!
%html{:lang => 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Icqapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container-fluid.px-md-5.flash
      -if flash.keys.length
        -if flash[:notice]
          .row.alert.alert-info
            .col-med= flash[:notice] 
        -if flash[:alert]
          .row.alert.alert-danger
            .col-med= flash[:alert] 
        -if flash[:warning]
          .row.alert.alert-warning
            .col-med= flash[:warning] 

      -if user_signed_in?
        #auth
          .row.p-3.bg-primary.text-white
            .col-9
              %span.smile= octicon "smiley", :height => 32
              %span.smile.font-weight-bolder Hello,
              %span.smile= "#{current_user.email}."
            .col-3= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-light"

      = yield
