!!!
%html{:lang => 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => 'viewport', :content => "width=device-width, minimum-scale=1.0 maximum-scale=1.0"}
    %title Icqapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container-fluid.px-md-5
      #jsflash.row
      -if flash.keys.length
        -if flash[:notice]
          #railsflash.row.alert.alert-info
            .col-med= flash[:notice] 
        -if flash[:alert]
          #railsflash.row.alert.alert-danger
            .col-med= flash[:alert] 
        -if flash[:warning]
          #railsflash.row.alert.alert-warning
            .col-med= flash[:warning] 

      -if user_signed_in?
        #auth
          .row.p-3.bg-primary.text-whitex
            .col-8
              -# %span.smile= octicon "smiley", :height => 28
              %span.smile.font-weight-bolder Hello,
              %span.smile= "#{current_user.email}."
            .col-3
              -if current_user.has_active_class?
                =link_to "Current question", @course, :class =>"btn btn-light"
              =link_to "My courses", courses_path, :class => "btn btn-light"
              = link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-warning"

      = yield
